@page "/bookings"
@inject CourseBookingApiClient CourseBookingApi
@inject StudentApiClient StudentApi
@inject TheoryLessonApiClient TheoryLessonApi
@rendermode InteractiveServer

@code{
    private bool _dataLoading;
    private List<CourseBookingModel> _courseBookings = [];
    private List<StudentModel> _students = [];
    private List<TheoryLessonModel> _lessons = [];
    private MudDataGrid<CourseBookingModel> _mudDataGrid = default!;

    private MudDialog _createDialog = default!;
    private MudDialog _editDialog = default!;
    private MudDialog _deleteDialog = default!;

    private MudForm _createForm;
    private MudForm _editForm;

    private bool _createFormSuccess;
    private bool _editFormSuccess;
    
    private CourseBookingModel? _deleteCourseBooking;
    private CourseBookingModel? _editCourseBooking;
    private CourseBookingModel _newCourseBooking = new();
    
    protected override void OnInitialized()
    {
        base.OnInitialized();
        _ = LoadAllDataAsync();
    }
    
    // LOAD
    private async Task LoadAllDataAsync()
    {
        _dataLoading = true;
        StateHasChanged();
        
        _courseBookings = await CourseBookingApi.GetAllCourseBookingsAsync() ?? [];
        _courseBookings.Sort((a,b) => b.BookingDate!.Value.CompareTo(a.BookingDate));
        _students = await StudentApi.GetAllStudentsAsync() ?? [];
        _lessons = await TheoryLessonApi.GetAllLessonsAsync() ?? [];
        
        _dataLoading = false;
        StateHasChanged();
    }
    
    // MODALS
    private async Task OnShowModal(MudDialog? dialog)
    {
        if (dialog is null) return;
        await dialog.ShowAsync(options: DialogData.DialogDefaultOptions);
    }
    
    private async Task OnHideModal(MudDialog? dialog)
    {
        if (dialog is null) return;
        await dialog.CloseAsync();
    }
    
    // CREATE
    private async Task HandleCreateAsync()
    {
        await _createForm.ValidateAsync();
        if (!_createForm.IsValid) return;
        
        var courseBooking = await CourseBookingApi.CreateCourseBookingAsync(_newCourseBooking);
        if (courseBooking is not null)
            _courseBookings.Add(courseBooking);
        
        _newCourseBooking = new();
        await OnHideModal(_createDialog);
        await _mudDataGrid.ReloadServerData();
    }
    
    // EDIT
    private async Task OnShowEditModal(CourseBookingModel courseBooking)
    {
        _editCourseBooking = new(courseBooking);
        await OnShowModal(_editDialog);
    }
    
    private async Task ConfirmEditAsync()
    {
        if (_editCourseBooking is null) return;
        
        await _editForm.ValidateAsync();
        if (!_editForm.IsValid) return;

        var updated = await CourseBookingApi.UpdateCourseBookingAsync(_editCourseBooking);
        if (updated is null) return;
        
        var drivingSchoolToUpdate = _courseBookings.FirstOrDefault(x => x.Id == _editCourseBooking.Id);
        if (drivingSchoolToUpdate is null) return;
        
        drivingSchoolToUpdate.StudentId = updated.StudentId;
        drivingSchoolToUpdate.TheoryLessonId = updated.TheoryLessonId;
        drivingSchoolToUpdate.BookingDate = updated.BookingDate;
        drivingSchoolToUpdate.Student = updated.Student;
        drivingSchoolToUpdate.TheoryLesson = updated.TheoryLesson;

        await OnHideModal(_editDialog);
        await _mudDataGrid.ReloadServerData();
        _editCourseBooking = null;
    }
    
    // DELETE
    private async Task OnShowDeleteModal(CourseBookingModel courseBooking)
    {
        _deleteCourseBooking = new(courseBooking);
        await OnShowModal(_deleteDialog);
    }
    
    private async Task OnRequestDeleteAsync()
    {
        if (_deleteCourseBooking is null) return;
        
        var deleted = await CourseBookingApi.DeleteCourseBookingAsync(_deleteCourseBooking.Id);
        if (!deleted) return;
        
        var remove = _courseBookings.FirstOrDefault(x => x.Id == _deleteCourseBooking.Id);
        if(remove is not null)
            _courseBookings.Remove(remove);
        
        await OnHideModal(_deleteDialog);
        await _mudDataGrid.ReloadServerData();
    }
}

<PageTitle>Kursbuchungen</PageTitle>

<MudPaper Class="d-flex flex-row align-center mud-theme-dark pa-4 ma-4" Elevation="1">
    <MudPaper Class="d-flex flex-column mud-theme-dark" Elevation="0">
        <MudText Typo="Typo.h5" Color="Color.Secondary">Kursbuchungen</MudText>
        <MudText Typo="Typo.body1">Hier sind alle Kurse aufgelistet, die eine Buchung aufweisen.</MudText>
    </MudPaper>
    <MudSpacer/>
    <MudButton
        Size="Size.Small"
        EndIcon="@Icons.Material.Filled.Add"
        Variant="Variant.Outlined"
        Color="Color.Primary"
        OnClick="() => OnShowModal(_createDialog)">
        Neue Buchung
    </MudButton>
</MudPaper>

@if (_dataLoading)
{
    <MudPaper Class="mud-theme-dark pa-4 ma-4" Elevation="1">
        <MudProgressLinear Color="Color.Primary" Indeterminate="true"/>
    </MudPaper>
}
else
{
    <div class="@(_courseBookings.Count == 0 ? "d-none" : "")">
        <MudPaper Class="mud-theme-dark pa-4 ma-4" Elevation="1">
            <MudDataGrid 
                @ref="_mudDataGrid" 
                Items="@_courseBookings" 
                Bordered="false"
                Dense="true"
                RowsPerPage="10"
                SortMode="SortMode.Multiple"
                Hover="true"
                Loading="@_dataLoading"
            >
                <Columns>
                    <PropertyColumn Property="x => x.Id" Title="ID" />
                    <PropertyColumn Property="x => x.BookingDate" Title="Buchungsdatum" Format="dd.MM.yyyy" />
                    <TemplateColumn Title="Fahrschüler">
                        <CellTemplate>
                            @if (context.Item.Student != null)
                            {
                                <MudText Typo="Typo.body2">@context.Item.Student.FullName</MudText>
                            }
                            else
                            {
                                <MudText Typo="Typo.body2" Style="@($"color:{Colors.Gray.Darken1};")"><i>Nicht zugewiesen</i></MudText>
                            }
                        </CellTemplate>
                    </TemplateColumn>
                    <TemplateColumn Title="Kurs">
                        <CellTemplate>
                            @if (context.Item.TheoryLesson != null)
                            {
                                <MudText Typo="Typo.body2">@context.Item.TheoryLesson.Name | @context.Item.TheoryLesson.Topic</MudText>
                            }
                            else
                            {
                                <MudText Typo="Typo.body2" Style="@($"color:{Colors.Gray.Darken1};")"><i>Nicht zugewiesen</i></MudText>
                            }
                        </CellTemplate>
                    </TemplateColumn>
                    <TemplateColumn>
                        <CellTemplate>
                            <MudIconButton
                                Variant="Variant.Outlined"
                                Color="Color.Warning"
                                Size="Size.Small"
                                Icon="@Icons.Material.Filled.Edit"
                                OnClick="() => OnShowEditModal(context.Item)"
                                Class="mr-2"
                                aria-label="Bearbeiten" />
                            <MudIconButton
                                Variant="Variant.Outlined"
                                Color="Color.Error"
                                Size="Size.Small"
                                Icon="@Icons.Material.Filled.Delete"
                                OnClick="() => OnShowDeleteModal(context.Item)"
                                aria-label="Löschen" />
                        </CellTemplate>
                    </TemplateColumn>
                </Columns>
                <PagerContent>
                    <MudDataGridPager />
                </PagerContent>
            </MudDataGrid>
        </MudPaper>
    </div>
    
    if (_courseBookings.Count == 0)
    {
        <MudPaper Class="mud-theme-dark pa-4 ma-4" Elevation="1">
            <MudAlert Severity="Severity.Info" ContentAlignment="HorizontalAlignment.Center">Keine Daten vorhanden.</MudAlert>
        </MudPaper>
    }
}

<MudDialog @ref="_createDialog">
    <TitleContent>
        <MudText Typo="Typo.h6">Kursbuchung eintragen</MudText>
    </TitleContent>
    <DialogContent>
        <MudForm @ref="_createForm" @bind-IsValid="@_createFormSuccess">
            <MudPaper Class="mud-theme-dark pa-4" Elevation="1">
                <MudSelect
                    Class="mb-4"
                    T="int?"
                    @bind-Value="_newCourseBooking.StudentId"
                    ShrinkLabel
                    Variant="Variant.Text"
                    Label="Fahrschüler zuweisen"
                    For="@(() => _newCourseBooking.StudentId)"
                    Immediate="true"
                    Disabled="!_students.Any()">
                    @foreach (var student in _students)
                    {
                        <MudSelectItem T="int?" Value="@(student.Id)">@student.FullName</MudSelectItem>
                    }
                </MudSelect>
                <MudSelect
                    Class="mb-4"
                    T="int?"
                    @bind-Value="_newCourseBooking.TheoryLessonId"
                    ShrinkLabel
                    Variant="Variant.Text"
                    Label="Kurs zuweisen"
                    For="@(() => _newCourseBooking.TheoryLessonId)"
                    Immediate="true"
                    Disabled="!_lessons.Any()">
                    @foreach (var lesson in _lessons)
                    {
                        <MudSelectItem T="int?" Value="@(lesson.Id)">@lesson.Name | @lesson.Topic</MudSelectItem>
                    }
                </MudSelect>
            </MudPaper>
        </MudForm>
    </DialogContent>
    <DialogActions>
        <MudButton Size="Size.Small" Variant="Variant.Outlined" Color="Color.Error" OnClick="() => OnHideModal(_createDialog)">Abbrechen</MudButton>
        <MudButton Size="Size.Small" Variant="Variant.Outlined" Color="Color.Secondary" OnClick="HandleCreateAsync">Eintragen</MudButton>
    </DialogActions>
</MudDialog>

<MudDialog @ref="_editDialog">
    <TitleContent>
        <MudText Typo="Typo.h6">Kursbuchung bearbeiten</MudText>
    </TitleContent>
    <DialogContent>
        <MudForm @ref="_editForm" @bind-IsValid="@_editFormSuccess">
            <MudPaper Class="mud-theme-dark pa-4" Elevation="1">
                <MudDatePicker Class="mb-4" 
                               Variant="Variant.Text"
                               ShrinkLabel 
                               Label="Buchungsdatum" 
                               @bind-Date="_editCourseBooking!.BookingDate" />
                <MudSelect
                    Class="mb-4"
                    T="int?"
                    @bind-Value="_editCourseBooking!.StudentId"
                    ShrinkLabel
                    Variant="Variant.Text"
                    Label="Fahrschüler zuweisen"
                    For="@(() => _editCourseBooking!.TheoryLessonId)"
                    Immediate="true"
                    Disabled="!_students.Any()">
                    @foreach (var student in _students)
                    {
                        <MudSelectItem T="int?" Value="@(student.Id)">@student.FullName</MudSelectItem>
                    }
                </MudSelect>
                <MudSelect
                    Class="mb-4"
                    T="int?"
                    @bind-Value="_editCourseBooking!.TheoryLessonId"
                    ShrinkLabel
                    Variant="Variant.Text"
                    Label="Kurs zuweisen"
                    For="@(() => _editCourseBooking!.TheoryLessonId)"
                    Immediate="true"
                    Disabled="!_lessons.Any()">
                    @foreach (var lesson in _lessons)
                    {
                        <MudSelectItem T="int?" Value="@(lesson.Id)">@lesson.Name | @lesson.Topic</MudSelectItem>
                    }
                </MudSelect>
            </MudPaper>
        </MudForm>
    </DialogContent>
    <DialogActions>
        <MudButton Size="Size.Small" Variant="Variant.Outlined" Color="Color.Error" OnClick="() => OnHideModal(_editDialog)">Abbrechen</MudButton>
        <MudButton Size="Size.Small" Variant="Variant.Outlined" Color="Color.Secondary" OnClick="ConfirmEditAsync">Änderungen speichern</MudButton>
    </DialogActions>
</MudDialog>

<MudDialog @ref="_deleteDialog">
    <TitleContent>
        <MudText Typo="Typo.h6">Kursbuchung löschen</MudText>
    </TitleContent>
    <DialogContent>
        <MudPaper Class="mud-theme-dark pa-4" Elevation="1">
            <MudText>Bist du sicher, dass du diese Kursbuchung löschen möchtest?</MudText>
        </MudPaper>
    </DialogContent>
    <DialogActions>
        <MudButton Size="Size.Small" Variant="Variant.Outlined" Color="Color.Error" OnClick="() => OnHideModal(_deleteDialog)">Nein</MudButton>
        <MudButton Size="Size.Small" Variant="Variant.Outlined" Color="Color.Secondary" OnClick="OnRequestDeleteAsync">Ja</MudButton>
    </DialogActions>
</MudDialog>