@page "/drivingSchools"
@rendermode InteractiveServer
@inject DrivingSchoolApiClient DrivingSchoolApi
@inject InstructorApiClient InstructorApi

@code
{
    private bool _dataLoading;
    private List<DrivingSchoolModel> _drivingSchools = [];
    private List<InstructorModel> _instructors = [];
    private MudDataGrid<DrivingSchoolModel> _mudDataGrid = default!;

    private MudDialog _createDialog = default!;
    private MudDialog _deleteDialog = default!;
    private MudDialog _editDialog = default!;
    private MudDialog _infoDialog = default!;
    
    MudForm _createForm;
    MudForm _editForm;
    
    bool _createFormSuccess;
    bool _editFormSuccess;
    
    private DrivingSchoolModel? _editDrivingSchool;
    private DrivingSchoolModel? _deleteDrivingSchool;
    private DrivingSchoolModel? _inspectDrivingSchool;
    private DrivingSchoolModel _newDrivingSchool = new();

    protected override void OnInitialized()
    {
        base.OnInitialized();
        _ = LoadAllDataAsync();
    }
    
    // LOAD
    private async Task LoadAllDataAsync()
    {
        _dataLoading = true;
        StateHasChanged();
        
        _drivingSchools = await DrivingSchoolApi.GetAllDrivingSchoolsAsync() ?? [];
        _instructors = await InstructorApi.GetAllInstructorsAsync() ?? [];
        
        _dataLoading = false;
        StateHasChanged();
    }
    
    // MODALS
    private async Task OnShowModal(MudDialog? dialog)
    {
        if (dialog is null) return;
        await dialog.ShowAsync(options: dialog == _infoDialog ? DialogData.DialogInfoOptions : DialogData.DialogDefaultOptions);
    }
    
    private async Task OnHideModal(MudDialog? dialog)
    {
        if (dialog is null) return;
        await dialog.CloseAsync();
    }
    
    // CREATE
    private async Task HandleCreateDrivingSchoolAsync()
    {
        await _createForm.ValidateAsync();
        if (!_createForm.IsValid) return;
        
        var newDrivingSchool = await DrivingSchoolApi.CreateDrivingSchoolAsync(_newDrivingSchool);
        if (newDrivingSchool is not null)
            _drivingSchools.Add(newDrivingSchool);
        
        _newDrivingSchool = new();
        await OnHideModal(_createDialog);
        await _mudDataGrid.ReloadServerData();
    }
    
    // EDIT
    private async Task OnShowEditModal(DrivingSchoolModel drivingSchool)
    {
        _editDrivingSchool = new(drivingSchool);
        await OnShowModal(_editDialog);
    }
    
    private async Task ConfirmEditDrivingSchoolAsync()
    {
        if (_editDrivingSchool is null) return;
        
        await _editForm.ValidateAsync();
        if (!_editForm.IsValid) return;

        var updated = await DrivingSchoolApi.UpdateDrivingSchoolAsync(_editDrivingSchool);
        if (updated is null) return;
        
        var drivingSchoolToUpdate = _drivingSchools.FirstOrDefault(x => x.Id == updated.Id);
        if (drivingSchoolToUpdate is null) return;
        
        drivingSchoolToUpdate.Name = updated.Name;
        drivingSchoolToUpdate.OwnerId = updated.OwnerId;
        drivingSchoolToUpdate.Owner = updated.Owner;

        await OnHideModal(_editDialog);
        await _mudDataGrid.ReloadServerData();
        _editDrivingSchool = null;
    }

    // DELETE
    private async Task OnShowDeleteModal(DrivingSchoolModel drivingSchool)
    {
        _deleteDrivingSchool = new(drivingSchool);
        await OnShowModal(_deleteDialog);
    }
    
    private async Task OnRequestDeleteDrivingSchoolAsync()
    {
        if (_deleteDrivingSchool is null) return;
        
        var deleted = await DrivingSchoolApi.DeleteDrivingSchoolAsync(_deleteDrivingSchool.Id);
        if (!deleted) return;
        
        var remove = _drivingSchools.FirstOrDefault(x => x.Id == _deleteDrivingSchool.Id);
        if(remove is not null)
            _drivingSchools.Remove(remove);
        
        await OnHideModal(_deleteDialog);
        await _mudDataGrid.ReloadServerData();
    }
    
    // INFO
    private async Task OnShowInfoModal(DrivingSchoolModel drivingSchool)
    {
        _inspectDrivingSchool = new(drivingSchool);
        await OnShowModal(_infoDialog);
    }
}

<PageTitle>Fahrschulen</PageTitle>

<MudPaper Class="d-flex flex-row align-center mud-theme-dark pa-4 ma-4" Elevation="1">
    <MudPaper Class="d-flex flex-column mud-theme-dark" Elevation="0">
        <MudText Typo="Typo.h5" Color="Color.Secondary">Fahrschulen</MudText>
        <MudText Typo="Typo.body1">Hier sind alle Fahrschulen aufgelistet, die im System registriert wurden.</MudText>
    </MudPaper>
    <MudSpacer/>
    <MudButton
        Size="Size.Small"
        EndIcon="@Icons.Material.Filled.Add"
        Variant="Variant.Outlined"
        Color="Color.Primary"
        OnClick="() => OnShowModal(_createDialog)">
        Registrieren
    </MudButton>
</MudPaper>

@if (_dataLoading)
{
    <MudPaper Class="mud-theme-dark pa-4 ma-4" Elevation="1">
        <MudProgressLinear Color="Color.Primary" Indeterminate="true"/>
    </MudPaper>
}
else
{
    <div class="@(_drivingSchools.Count == 0 ? "d-none" : "")">
        <MudPaper Class="mud-theme-dark pa-4 ma-4" Elevation="1">
            <MudDataGrid 
                @ref="_mudDataGrid" 
                Items="@_drivingSchools" 
                Bordered="false"
                Dense="true"
                RowsPerPage="10"
                SortMode="SortMode.Multiple"
                Hover="true"
                Loading="@_dataLoading"
            >
                <Columns>
                    <PropertyColumn Property="x => x.Id" Title="ID" />
                    <PropertyColumn Property="x => x.Name" Title="Bezeichnung" />
                    <TemplateColumn Title="Besitzer">
                        <CellTemplate>
                            @if (context.Item.Owner != null)
                            {
                                <MudText Typo="Typo.body2">@context.Item.Owner.FullName</MudText>
                            }
                            else
                            {
                                <MudText Typo="Typo.body2" Style="@($"color:{Colors.Gray.Darken1};")"><i>Kein Besitzer</i></MudText>
                            }
                        </CellTemplate>
                    </TemplateColumn>
                    <TemplateColumn Title="Fahrschüler">
                        <CellTemplate>
                            @if (context.Item.Students.Count > 0)
                            {
                                <MudChip T="string"
                                         Size="Size.Medium"
                                         Variant="Variant.Text"
                                         Color="Color.Success">
                                    @context.Item.Students.Count
                                </MudChip>
                            }
                            else
                            {
                                <MudText Typo="Typo.body2" Style="@($"color:{Colors.Gray.Darken1};")"><i>Keine Fahrschüler zugewiesen</i></MudText>
                            }
                        </CellTemplate>
                    </TemplateColumn>
                    <TemplateColumn>
                        <CellTemplate>
                            <MudTooltip Text="Ansehen" ShowOnFocus="false">
                                <MudIconButton
                                    Variant="Variant.Outlined"
                                    Color="Color.Info"
                                    Size="Size.Small"
                                    Icon="@Icons.Material.Filled.Info"
                                    OnClick="() => OnShowInfoModal(context.Item)"
                                    Class="mr-2"
                                    aria-label="Ansehen"/>
                            </MudTooltip>
                            <MudTooltip Text="Bearbeiten" ShowOnFocus="false">
                                <MudIconButton
                                    Variant="Variant.Outlined"
                                    Color="Color.Warning"
                                    Size="Size.Small"
                                    Icon="@Icons.Material.Filled.Edit"
                                    OnClick="() => OnShowEditModal(context.Item)"
                                    Class="mr-2"
                                    aria-label="Bearbeiten"/>
                            </MudTooltip>
                            <MudTooltip Text="Löschen" ShowOnFocus="false">
                                <MudIconButton
                                    Variant="Variant.Outlined"
                                    Color="Color.Error"
                                    Size="Size.Small"
                                    Icon="@Icons.Material.Filled.Delete"
                                    OnClick="() => OnShowDeleteModal(context.Item)"
                                    aria-label="Löschen"/>
                            </MudTooltip>
                        </CellTemplate>
                    </TemplateColumn>
                </Columns>
                <PagerContent>
                    <MudDataGridPager />
                </PagerContent>
            </MudDataGrid>
        </MudPaper>
    </div>
    
    if (_drivingSchools.Count == 0)
    {
        <MudPaper Class="mud-theme-dark pa-4 ma-4" Elevation="1">
            <MudAlert Severity="Severity.Info" ContentAlignment="HorizontalAlignment.Center">Keine Daten vorhanden.</MudAlert>
        </MudPaper>
    }
}

<MudDialog @ref="_createDialog">
    <TitleContent>
        <MudText Typo="Typo.h6">Fahrschule registrieren</MudText>
    </TitleContent>
    <DialogContent>
        <MudForm @ref="_createForm" @bind-IsValid="@_createFormSuccess">
            <MudPaper Class="mud-theme-dark pa-4" Elevation="1">
                <MudTextField T="string"
                              Class="mb-4"
                              Variant="Variant.Text"
                              @bind-Value="_newDrivingSchool.Name"
                              ShrinkLabel
                              Label="Bezeichnung"
                              For="@(() => _newDrivingSchool.Name)"
                              Required="true"
                              Immediate="false"/>
                <MudSelect
                    Class="mb-4"
                    @bind-Value="_newDrivingSchool.OwnerId"
                    ShrinkLabel
                    Variant="Variant.Text"
                    Label="Besitzer (Fahrlehrer) zuweisen"
                    Disabled="!_instructors.Any()">
                    @foreach (var instructor in _instructors)
                    {
                        <MudSelectItem Value="@((int?)instructor.Id)">@instructor.FullName</MudSelectItem>
                    }
                </MudSelect>
            </MudPaper>
        </MudForm>
    </DialogContent>
    <DialogActions>
        <MudButton Size="Size.Small" Variant="Variant.Outlined" Color="Color.Error" OnClick="() => OnHideModal(_createDialog)">Abbrechen</MudButton>
        <MudButton Size="Size.Small" Variant="Variant.Outlined" Color="Color.Secondary" OnClick="HandleCreateDrivingSchoolAsync">Registrieren</MudButton>
    </DialogActions>
</MudDialog>

<MudDialog @ref="_editDialog">
    <TitleContent>
        <MudText Typo="Typo.h6">Fahrschule bearbeiten</MudText>
    </TitleContent>
    <DialogContent>
        <MudForm @ref="_editForm" @bind-IsValid="@_editFormSuccess">
            <MudPaper Class="mud-theme-dark pa-4" Elevation="1">
                <MudTextField T="string"
                              Class="mb-4"
                              Variant="Variant.Text"
                              @bind-Value="_editDrivingSchool!.Name"
                              ShrinkLabel
                              Label="Bezeichnung"
                              For="@(() => _editDrivingSchool!.Name)"
                              Required="true"
                              Immediate="false"/>
                <MudSelect
                    Class="mb-4"
                    @bind-Value="_editDrivingSchool!.OwnerId"
                    ShrinkLabel
                    Variant="Variant.Text"
                    Label="Besitzer (Fahrlehrer) zuweisen"
                    Disabled="!_instructors.Any()">
                    @foreach (var instructor in _instructors)
                    {
                        <MudSelectItem Value="@((int?)instructor.Id)">@instructor.FullName</MudSelectItem>
                    }
                </MudSelect>
            </MudPaper>
        </MudForm>
    </DialogContent>
    <DialogActions>
        <MudButton Size="Size.Small" Variant="Variant.Outlined" Color="Color.Error" OnClick="() => OnHideModal(_editDialog)">Abbrechen</MudButton>
        <MudButton Size="Size.Small" Variant="Variant.Outlined" Color="Color.Secondary" OnClick="ConfirmEditDrivingSchoolAsync">Änderungen speichern</MudButton>
    </DialogActions>
</MudDialog>

<MudDialog @ref="_deleteDialog">
    <TitleContent>
        <MudText Typo="Typo.h6">Fahrschule löschen</MudText>
    </TitleContent>
    <DialogContent>
        <MudPaper Class="mud-theme-dark pa-4" Elevation="1">
            <MudText>Bist du sicher, dass du die Fahrschule @_deleteDrivingSchool?.Name löschen möchtest?</MudText>
        </MudPaper>
    </DialogContent>
    <DialogActions>
        <MudButton Size="Size.Small" Variant="Variant.Outlined" Color="Color.Error" OnClick="() => OnHideModal(_deleteDialog)">Nein</MudButton>
        <MudButton Size="Size.Small" Variant="Variant.Outlined" Color="Color.Secondary" OnClick="OnRequestDeleteDrivingSchoolAsync">Ja</MudButton>
    </DialogActions>
</MudDialog>

<MudDialog @ref="_infoDialog">
    <TitleContent>
        <MudText Typo="Typo.h6">@_inspectDrivingSchool!.Name | Informationen</MudText>
    </TitleContent>
    <DialogContent>
        <MudPaper Class="mud-theme-dark pa-4 mb-4" Elevation="1">
            <MudText Typo="Typo.body2" Color="Color.Primary">Besitzer der Fahrschule:</MudText>
            <MudText Typo="Typo.body1">@_inspectDrivingSchool!.Owner?.FullName</MudText>
        </MudPaper>
        <MudPaper Class="mud-theme-dark pa-4" Elevation="1">
            @if (_inspectDrivingSchool!.Students.Any())
            {
                @foreach (var student in _inspectDrivingSchool!.Students)
                {
                    <MudChip T="string">
                        <AvatarContent>
                            <MudAvatar>
                                @student.FirstName[0]
                                @student.LastName[0]
                            </MudAvatar>
                        </AvatarContent>
                        <ChildContent>@student.FullName</ChildContent>
                    </MudChip>
                }
            }
            else
            {
                <MudText Typo="Typo.body2" Style="@($"color:{Colors.Gray.Darken1};")"><i>Diese Fahrschule hat keine Fahrschüler zugewiesen.</i></MudText>
            }
        </MudPaper>
    </DialogContent>
    <DialogActions>
        <MudButton Size="Size.Small" Variant="Variant.Outlined" Color="Color.Info" OnClick="() => OnHideModal(_infoDialog)">Ok</MudButton>
    </DialogActions>
</MudDialog>