@page "/students"
@inject StudentApiClient StudentApiClient
@inject DrivingSchoolApiClient DrivingSchoolApiClient
@rendermode InteractiveServer

@code {
    private bool _dataLoading;
    private List<StudentModel> _students = [];
    private MudDataGrid<StudentModel> _mudDataGrid = default!;
    
    private MudDialog _createDialog = default!;
    private MudDialog _deleteDialog = default!;
    private MudDialog _editDialog = default!;
    
    MudForm _createForm;
    MudForm _editForm;
    
    bool _createFormSuccess;
    bool _editFormSuccess;
    
    private List<DrivingSchoolModel> _drivingSchools = [];
    private StudentModel? _editStudent;
    private StudentModel? _deleteStudent;
    private StudentModel _newStudent = new();
    
    protected override void OnInitialized()
    {
        base.OnInitialized();
        _ = LoadAllDataAsync();
    }
    
    // LOAD
    private async Task LoadAllDataAsync()
    {
        _dataLoading = true;
        StateHasChanged();

        _students = await StudentApiClient.GetAllStudentsAsync() ?? [];
        _drivingSchools = await DrivingSchoolApiClient.GetAllDrivingSchoolsAsync() ?? [];
        
        _dataLoading = false;
        StateHasChanged();
    }
    
    // MODALS
    private async Task OnShowModal(MudDialog? dialog)
    {
        if (dialog is null) return;
        
        if(dialog == _createDialog)
            _newStudent = new();
        
        await dialog.ShowAsync(options: DialogData.DialogDefaultOptions);
    }
    
    private async Task OnHideModal(MudDialog? dialog)
    {
        if (dialog is null) return;
        await dialog.CloseAsync();
    }
    
    // CREATE
    private async Task HandleCreateDriverAsync()
    {
        await _createForm.ValidateAsync();
        if (!_createForm.IsValid) return;
        
        var newStudent = await StudentApiClient.CreateStudentAsync(_newStudent);
        if (newStudent is not null)
            _students.Add(newStudent);
        
         _newStudent = new();
        await OnHideModal(_createDialog);
        await _mudDataGrid.ReloadServerData();
    }
    
    // EDIT
    private async Task OnShowEditModal(StudentModel student)
    {
        _editStudent = new(student);
        await OnShowModal(_editDialog);
    }
    
    private async Task ConfirmEditDrivingSchoolAsync()
    {
        if (_editStudent is null) return;
        
        await _editForm.ValidateAsync();
        if (!_editForm.IsValid) return;

        var updated = await StudentApiClient.UpdateStudentAsync(_editStudent);
        if (updated is null) return;
        
        var studentToUpdate = _students.FirstOrDefault(x => x.Id == updated.Id);
        if (studentToUpdate is null) return;
        
        studentToUpdate.FirstName = updated.FirstName;
        studentToUpdate.LastName = updated.LastName;
        studentToUpdate.Mail = updated.Mail;
        studentToUpdate.Phone = updated.Phone;
        studentToUpdate.Birthday = updated.Birthday;
        studentToUpdate.License = updated.License;
        studentToUpdate.EnrollmentDate = updated.EnrollmentDate;
        studentToUpdate.ExamDate = updated.ExamDate;
        studentToUpdate.HasPassed = updated.HasPassed;
        studentToUpdate.DrivingSchoolId = updated.DrivingSchoolId;
        studentToUpdate.DrivingSchool = updated.DrivingSchool;
        
        await OnHideModal(_editDialog);
        await _mudDataGrid.ReloadServerData();
        _editStudent = null;
    }
    
    // DELETE
    private async Task OnShowDeleteModal(StudentModel student)
    {
        _deleteStudent = new(student);
        await OnShowModal(_deleteDialog);
    }
    
    private async Task OnRequestDeleteDriverAsync()
    {
        if (_deleteStudent is null) return;
        
        var deleted = await StudentApiClient.DeleteStudentAsync(_deleteStudent.Id);
        if (!deleted) return;
        
        var remove = _students.FirstOrDefault(x => x.Id == _deleteStudent.Id);
        if(remove is not null)
            _students.Remove(remove);
        
        await _mudDataGrid.ReloadServerData();
        await OnHideModal(_deleteDialog);
    }
    
    // SCHOOL
    private DrivingSchoolModel? GetDrivingSchool(int id) 
        => _drivingSchools.FirstOrDefault(s => s.Id == id);
}

<PageTitle>Fahrschüler</PageTitle>

<MudPaper Class="d-flex flex-row align-center mud-theme-dark pa-4 ma-4" Elevation="1">
    <MudPaper Class="d-flex flex-column mud-theme-dark" Elevation="0">
        <MudText Typo="Typo.h5" Color="Color.Secondary">Fahrschüler</MudText>
        <MudText Typo="Typo.body1">Hier sind alle Fahrschüler aufgelistet, die im System eingetragen wurden.</MudText>
    </MudPaper>
    <MudSpacer/>
    
    <MudButton
        Size="Size.Small"
        EndIcon="@Icons.Material.Filled.Add"
        Variant="Variant.Outlined"
        Color="Color.Primary"
        OnClick="() => OnShowModal(_createDialog)">
        Eintragen
    </MudButton>
</MudPaper>

@if (_dataLoading)
{
    <MudPaper Class="mud-theme-dark pa-4 ma-4" Elevation="1">
        <MudProgressLinear Color="Color.Primary" Indeterminate="true"/>
    </MudPaper>
}
else
{
    <div class="@(_students.Count == 0 ? "d-none" : "")">
        <MudPaper Class="mud-theme-dark pa-4 ma-4" Elevation="1">
            <MudDataGrid 
                @ref="_mudDataGrid" 
                Items="@_students" 
                Bordered="false"
                Dense="true"
                RowsPerPage="10"
                SortMode="SortMode.Multiple"
                Hover="true"
                Loading="@_dataLoading"
            >
                <Columns>
                    <PropertyColumn Property="x => x.Id" Title="ID" />
                    <PropertyColumn Property="x => x.FullName" Title="Vor- Nachname" />
                    <PropertyColumn Property="x => x.Mail" Title="E-Mail" />
                    
                    <TemplateColumn Title="Telefon">
                        <CellTemplate>
                            @if (context.Item.Phone != null && !string.IsNullOrWhiteSpace(context.Item.Phone))
                            {
                                <MudText Typo="Typo.body2">@context.Item.Phone</MudText>
                            }
                            else
                            {
                                <MudText Typo="Typo.body2" Color="Color.Error"><i>keine Angabe</i></MudText>
                            }
                        </CellTemplate>
                    </TemplateColumn>
                    
                    <TemplateColumn Title="Geburtstag">
                        <CellTemplate>
                            @if (context.Item.Birthday != null)
                            {
                                <MudText Typo="Typo.body2">@context.Item.Birthday?.ToString("dd.MM.yyyy")</MudText>
                            }
                            else
                            {
                                <MudText Typo="Typo.body2" Color="Color.Error"><i>keine Angabe</i></MudText>
                            }
                        </CellTemplate>
                    </TemplateColumn>
                    <TemplateColumn Title="Klasse">
                        <CellTemplate>
                            @if (context.Item.License != null)
                            {
                                <MudText Typo="Typo.body2">@LicenseHelper.GetName(context.Item.License)</MudText>
                            }
                            else
                            {
                                <MudText Typo="Typo.body2" Color="Color.Error"><i>nicht festgelegt</i></MudText>
                            }
                        </CellTemplate>
                    </TemplateColumn>
                    <TemplateColumn Title="Anmeldedatum">
                        <CellTemplate>
                            @if (context.Item.EnrollmentDate != null)
                            {
                                <MudText Typo="Typo.body2">@context.Item.EnrollmentDate?.ToString("dd.MM.yyyy")</MudText>
                            }
                            else
                            {
                                <MudText Typo="Typo.body2" Color="Color.Error"><i>nicht festgelegt</i></MudText>
                            }
                        </CellTemplate>
                    </TemplateColumn>
                    <TemplateColumn Title="Prüfungsdatum">
                        <CellTemplate>
                            @if (context.Item.ExamDate != null)
                            {
                                <MudText Typo="Typo.body2">@context.Item.ExamDate?.ToString("dd.MM.yyyy")</MudText>
                            }
                            else
                            {
                                <MudText Typo="Typo.body2" Color="Color.Error"><i>Termin ausstehend</i></MudText>
                            }
                        </CellTemplate>
                    </TemplateColumn>
                    <TemplateColumn Title="Bestanden">
                        <CellTemplate>
                            <MudChip T="string"
                                     Size="Size.Medium"
                                     Variant="Variant.Text"
                                     Color="@(context.Item.HasPassed ? Color.Success : Color.Warning)">
                                @(context.Item.HasPassed ? "Ja" : "Nein")
                            </MudChip>
                        </CellTemplate>
                    </TemplateColumn>
                    
                    <TemplateColumn Title="Fahrschule">
                        <CellTemplate>
                            @if (context.Item.DrivingSchool != null)
                            {
                                <MudChip T="string"
                                         Size="Size.Medium"
                                         Variant="Variant.Text"
                                         Color="Color.Info">
                                    @(context.Item.DrivingSchool?.Name ?? "Unbekannte Fahrschule")
                                </MudChip>
                            }
                            else
                            {
                                <MudText Typo="Typo.body2" Color="Color.Error"><i>nicht festgelegt</i></MudText>
                            }
                        </CellTemplate>
                    </TemplateColumn>
                    <TemplateColumn>
                        <CellTemplate>
                            <MudIconButton
                                Variant="Variant.Outlined"
                                Color="Color.Warning"
                                Size="Size.Small"
                                Icon="@Icons.Material.Filled.Edit"
                                OnClick="() => OnShowEditModal(context.Item)"
                                Class="mr-2"
                                aria-label="Bearbeiten" />
                            <MudIconButton
                                Variant="Variant.Outlined"
                                Color="Color.Error"
                                Size="Size.Small"
                                Icon="@Icons.Material.Filled.Delete"
                                OnClick="() => OnShowDeleteModal(context.Item)"
                                aria-label="Löschen" />
                        </CellTemplate>
                    </TemplateColumn>
                </Columns>
                <PagerContent>
                    <MudDataGridPager />
                </PagerContent>
            </MudDataGrid>
        </MudPaper>
    </div>
    
    @if (_students.Count == 0)
    {
        <MudPaper Class="mud-theme-dark pa-4 ma-4" Elevation="1">
            <MudAlert Severity="Severity.Info" ContentAlignment="HorizontalAlignment.Center">Keine Daten vorhanden.</MudAlert>
        </MudPaper>
    }
}

<MudDialog @ref="_createDialog">
    <TitleContent>
        <MudText Typo="Typo.h6">Fahrschüler anlegen</MudText>
    </TitleContent>
    <DialogContent>
        <MudForm @ref="_createForm" @bind-IsValid="@_createFormSuccess">
            <MudPaper Class="mud-theme-dark pa-4" Elevation="1">
                <MudTextField T="string"
                              Class="mb-4"
                              ShrinkLabel
                              Variant="Variant.Text"
                              @bind-Value="_newStudent.FirstName"
                              Label="Vorname"
                              For="@(() => _newStudent.FirstName)"
                              Immediate="true"/>
                <MudTextField T="string"
                              Class="mb-4"
                              ShrinkLabel
                              Variant="Variant.Text"
                              @bind-Value="_newStudent.LastName"
                              Label="Nachname"
                              For="@(() => _newStudent.LastName)"
                              Immediate="true"/>
                <MudTextField T="string"
                              Class="mb-4"
                              ShrinkLabel
                              Variant="Variant.Text"
                              @bind-Value="_newStudent.Mail"
                              Label="E-Mail"
                              For="@(() => _newStudent.Mail)"
                              Immediate="true"/>
                <MudTextField Class="mb-4" ShrinkLabel @bind-Value="_newStudent.Phone" Label="Telefon" Variant="Variant.Text"/>
                <MudDatePicker Class="mb-4" 
                               Variant="Variant.Text"
                               ShrinkLabel 
                               Label="Geburtstag" 
                               @bind-Date="_newStudent!.Birthday" />
                <MudSelect
                    Class="mb-4"
                    @bind-Value="_newStudent.DrivingSchoolId"
                    ShrinkLabel
                    Variant="Variant.Text"
                    Label="Fahrschule zuweisen"
                    Disabled="!_drivingSchools.Any()">
                    @foreach (var school in _drivingSchools)
                    {
                        <MudSelectItem Value="@((int?)school.Id)">@school.Name</MudSelectItem>
                    }
                </MudSelect>
                <MudSelect
                    Class="mb-4"
                    @bind-Value="_newStudent.License"
                    ShrinkLabel
                    Variant="Variant.Text"
                    Label="Fahrzeug-Klasse wählen">
                    @foreach (var license in Enum.GetValues<LicenseClass>())
                    {
                        <MudSelectItem Value="@((LicenseClass?)license)">@LicenseHelper.GetName(license)</MudSelectItem>
                    }
                </MudSelect>
                <MudDatePicker 
                    Class="mb-4" 
                    ShrinkLabel
                    Label="Prüfungstermin" 
                    @bind-Date="_newStudent.ExamDate"/>
            </MudPaper>
        </MudForm>
    </DialogContent>
    <DialogActions>
        <MudButton Size="Size.Small" Variant="Variant.Outlined" Color="Color.Error" OnClick="() => OnHideModal(_createDialog)">Abbrechen</MudButton>
        <MudButton Size="Size.Small" Variant="Variant.Outlined" Color="Color.Secondary" OnClick="HandleCreateDriverAsync">Eintragen</MudButton>
    </DialogActions>
</MudDialog>

<MudDialog @ref="_editDialog">
    <TitleContent>
        <MudText Typo="Typo.h6">Fahrschüler bearbeiten (ID: @_editStudent?.Id)</MudText>
    </TitleContent>
    <DialogContent>
        <MudForm @ref="_editForm" @bind-IsValid="@_editFormSuccess">
            <MudPaper Class="mud-theme-dark pa-4" Elevation="1">
                <MudTextField T="string"
                              Class="mb-4"
                              Variant="Variant.Text"
                              @bind-Value="_editStudent!.FirstName"
                              ShrinkLabel
                              Label="Vorname"
                              For="@(() => _editStudent!.FirstName)"
                              Immediate="true"/>
                <MudTextField T="string"
                              Class="mb-4"
                              Variant="Variant.Text"
                              @bind-Value="_editStudent!.LastName"
                              ShrinkLabel
                              Label="Nachname"
                              For="@(() => _editStudent!.LastName)"
                              Immediate="true"/>
                <MudTextField T="string"
                              Class="mb-4"
                              Variant="Variant.Text"
                              @bind-Value="_editStudent!.Mail"
                              ShrinkLabel
                              Label="E-Mail"
                              For="@(() => _editStudent!.Mail)"
                              Immediate="true"/>
                <MudTextField Class="mb-4" ShrinkLabel @bind-Value="_editStudent!.Phone" Label="Telefon" Variant="Variant.Text"/>
                <MudDatePicker Class="mb-4" 
                               Variant="Variant.Text"
                               ShrinkLabel 
                               Label="Geburtstag" 
                               @bind-Date="_editStudent!.Birthday" />
                <MudSelect
                    T="int?"
                    Class="mb-4"
                    @bind-Value="_editStudent!.DrivingSchoolId"
                    ShrinkLabel
                    Variant="Variant.Text"
                    Label="Fahrschule zuweisen"
                    Disabled="!_drivingSchools.Any()">
                    @foreach (var school in _drivingSchools)
                    {
                        <MudSelectItem T="int?" Value="@(school.Id)">@school.Name</MudSelectItem>
                    }
                </MudSelect>
                <MudSelect
                    T="LicenseClass?"
                    Class="mb-4"
                    @bind-Value="_editStudent!.License"
                    ShrinkLabel
                    Variant="Variant.Text"
                    Label="Fahrzeug-Klasse wählen">
                    @foreach (var license in Enum.GetValues<LicenseClass>())
                    {
                        <MudSelectItem T="LicenseClass?" Value="@license">@LicenseHelper.GetName(license)</MudSelectItem>
                    }
                </MudSelect>
                <MudDatePicker Class="mb-4" ShrinkLabel Label="Prüfungstermin" @bind-Date="_editStudent!.ExamDate" />
                <MudRadioGroup Class="mb-4" Row="true" @bind-Value="_editStudent!.HasPassed">
                    <MudRadio Value="true" Color="Color.Primary" Dense="true">Bestanden</MudRadio>
                    <MudRadio Value="false" Color="Color.Secondary" Dense="false">nicht Bestanden / Prüfung ausstehend</MudRadio>
                </MudRadioGroup>
            </MudPaper>
        </MudForm>
    </DialogContent>
    <DialogActions>
        <MudButton Size="Size.Small" Variant="Variant.Outlined" Color="Color.Error" OnClick="() => OnHideModal(_editDialog)">Abbrechen</MudButton>
        <MudButton Size="Size.Small" Variant="Variant.Outlined" Color="Color.Secondary" OnClick="ConfirmEditDrivingSchoolAsync">Änderungen speichern</MudButton>
    </DialogActions>
</MudDialog>

<MudDialog @ref="_deleteDialog">
    <TitleContent>
        <MudText Typo="Typo.h6">Fahrschüler löschen (ID: @_deleteStudent?.Id)</MudText>
    </TitleContent>
    <DialogContent>
        <MudPaper Class="mud-theme-dark pa-4" Elevation="1">
            <MudText>Bist du sicher, dass du die Fahrschüler @_deleteStudent?.FullName löschen möchtest?</MudText>
        </MudPaper>
    </DialogContent>
    <DialogActions>
        <MudButton Size="Size.Small" Variant="Variant.Outlined" Color="Color.Error" OnClick="() => OnHideModal(_deleteDialog)">Nein</MudButton>
        <MudButton Size="Size.Small" Variant="Variant.Outlined" Color="Color.Secondary" OnClick="OnRequestDeleteDriverAsync">Ja</MudButton>
    </DialogActions>
</MudDialog>